<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>Address</th>
      <th>Ordered Items</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td>{{order.shipping.addressLine1}},{{order.shipping.addressLine2}},{{order.shipping.city}}</td>
      <td >
        <li *ngFor="let item of order.items"> {{ item.product.title }}</li></td>

      <!-- <td>
        <a
        routerLink="/view-orders"
        >View</a>
      </td> -->
    </tr>
  </tbody> 
</table>