/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';

body { padding-top: 80px; }


.navbar-dark .navbar-brand {
    color: turquoise;
}
.navbar-dark .navbar-nav .nav-link {
    color: oldlace;
}
.pull-right {
    float: right !important; 
}